$primary-text-color: #757575;
$secondary-text-color: #FFFFFF;
$black-text-color: #212121;
$accent-color: #2196F3;
$title-text-color: #212121;
$background-element: #F5F4FA;
$background-card: #FFFFFF;
$icon-color: #AFB1B8;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);